:root{
    --primary-color: #674AAE;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--primary-color);
}

header{
    margin: center;
}
#fondoDesktop{
    height: 100vh;
    position: absolute;
    z-index: -1;
    padding: 0;   
}

#fondoMobile{
    display: none;
}

.container{
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: white;
    z-index: 9;
    margin-top: 3.5rem;
}

.btn-1{
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: 0;
    color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    cursor: pointer;
}

.image2{
    width: 12rem;
    margin-top: 2rem;
    margin-left: 4.5rem;
}

.image1 {
    width: 35rem;
    padding: 0 3rem 0 4.5rem;
}
.box-info {
    width: 30rem;
    /* padding-right: 3rem; */
    
}
  

